body {
    background-color: #202833;

}
html{
    overflow-y: scroll;
    scrollbar-color: #63F2D8 #0B0C10;
}
ul {
    list-style: none;
    color: #63F2D8;
    margin: 10px;
}

h2 {
    font-size: 30px
}

h1 {
    font-size: 50px
}

a {
    color: #63F2D8;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url(images/csce.jpg);
}

main {
    display: block;
    overflow: auto;
    overflow-y: scroll;
    scrollbar-color: #63F2D8 #0B0C10;
}

#all {
    flex: 1;
    color: #63F2D8;
    background-color: #0B0C10;
    border: 2px solid #202833;
    box-shadow: 2px 2px 4px black;
    margin: 20px;
    padding: 10px;
    align-items: center;
}

#all h2 {
    text-align: center;
}

/* #all {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
} */

/*PROFILE*/
#playlist-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}
#profile {
    flex: 1;
    color: #63F2D8;
    background-color: #0B0C10;
    border: 2px solid #202833;
    box-shadow: 2px 2px 4px black;
    margin: 20px;
    padding: 10px;
    align-items: center;
}
#profile img{
    width:100%;
}
#playlist-nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    margin-right: -5px;
    margin-left: -5px;
    margin-bottom: 20px;
    flex: 1;
    flex-direction: row;

}

#playlist-nav li {
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}
#playlist-nav a:hover{
    color:#296f68
}

#sec-playlists {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.pro-playlists{
    text-decoration: none;
    flex:1;
    display:block;
    border: 2px solid #49A69C;
    box-shadow: 1px 1px 12px #49A69C;
    align-items: center; 
    margin:20px;   


}
#sec-playlists a:hover{
    color:#296f68
}
.playlist1{
    margin-left:20px;
    display:block;
    width:50%;
    height:50%;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 10px;
    text-align: center;   
}
/* .playlist1 {
    border: 2px solid #49A69C;
    box-shadow: 2px 2px 4px #49A69C;
    text-align: center;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 10px;
    color: #63F2D8;
    width: 20%;
    height: 40%;
} */

.playlist1 img {
    width: 100%;
}

/*HEADER*/
#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background-color: #0B0C10;
    color: #63F2D8;
    margin-top: -10px;
    /* margin-left: -8px;
    margin-right: -8px; */
    border-bottom: 2px solid #49A69C;

}

.top {
    flex: 1;
    margin: 20px;
}

#header img {
    width: 140%;
    /* padding:-100%; */
    margin: -25%;
    margin-top: -28%;
}

/*HOME*/
.profile-playlist img {
    width: 100%;
}
/* #sec-playlist2{
    margin-left: -60px;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} */
.playlists {
    align-items: center;
    justify-content: space-between;
}
#sec-playlists2{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-left:160px;
    align-items: center;
    margin-top:-80px;
}
.profile-playlist{
    border: 2px solid #49A69C;
    box-shadow: 1px 1px 12px #49A69C;
    padding:80px;
    box-sizing: border-box;
    width:35%;
    height:38%;
    margin:90px;
    margin-left:20px;
    margin-bottom: 0px;
}
 /* .profile-playlist {
    border: 2px solid #49A69C;
    background: #202833;
    box-shadow: 2px 2px 4px #49A69C;
    text-align: center;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;  */
    /* padding-bottom: 40px; */
    /* color: #63F2D8;
    box-sizing: border-box;
    margin:5px;
    width: 50%;
    height: 50%;
} */
#home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 15px;
}

.extra {
    background-color: #0B0C10;
    border: 2px solid #49A69C;
    color: #63F2D8;
    text-align: center;
    margin: 10px;
    padding-bottom: 400px;
}

#friends {
    flex: 1;
}

#main-playlist {
    flex: 5;
    margin-left:-10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0 auto;

}

/*footer*/
#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #0B0C10;
    margin-top: 20px;
    padding-bottom: 40px;
    padding: 40px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -10%;
    border-top: 2px solid #49A69C;
    width:94.95%;



}

#footer #sec-nav {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #49A69C;

}

#footer a {

    text-decoration: none;
    list-style: none;
    color: #49A69C;
}

#sec-nav ul {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px;
    align-items: center;
    padding: 10px;
    margin-left: 60px;
    margin-right: 60px;

}


/*BLOG*/
#main-blog {
    flex: 1;
    color: #63F2D8;
    background-color: #0B0C10;
    border: 2px solid #202833;
    box-shadow: 2px 2px 4px black;
    margin: 20px;
    padding: 10px;
    align-items: center;
}

.blog-title {
    margin-bottom: 20px;
    text-align: center;
}

#blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    align-items: center;
    margin-top: 0 auto;
}

.popular img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.popular {
    display: flex;
    flex-direction: column;
    width: 95%;
    border: 2px solid #49A69C;
    margin: 10px;
    padding: 10px;
    align-items: center;

}
/* .popular h2{
    align-items: center;
} */

.popular .post {
    line-height: 1.5;
    padding-left:15px;
}

/*ABOUT US*/

#all {
    text-align: center;
    font-size: x-large;
    height: 50%;
}


/*CONTACT*/
#search p {
    display: block;
    text-align: left;
    background: #F6F5F3;
    color: #202833;
    border: 2px solid #49A69C;
    /* padding-right: 30px; */
    padding-left: 5px;
}

#simple {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#main-contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact {
    flex: 1;
    margin: 20px;
    margin-right: 5px;
    display:flex;
    flex-direction: column;
}

#simple ul {
    flex: 1;
}

.info {
    flex:1;
    margin-left:0px;
    align-items: center;
    /* margin-right: 20px; */
    margin-top: 20px;
    padding:50px;
    text-align: left;
    /* padding-left: 10%; */
}

.info p {
    padding-left: 5px;
    padding-right: 5%;
    padding-bottom: 20%;
    background: #FAEDFF;
    color: #202833;
    border: 2px solid #49A69C;
}

/*SETTINGS*/
#settings-nav ul {
    /* display:flex;
    flex:1; */
    text-align: left;
    flex-direction: column;
}

#settings-nav li {
    margin-top: 60px;
    font-size: 30px;
    text-align: left;
}

/*DISCOVER*/
.discover {
    color: #63F2D8;
}

@media (max-width: 768px) {

    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        background-image: url(images/csce.jpg);
        color: #63F2D8;
    }

    body,
    h1,
    h2,
    p {
        margin: 0;
        padding: 0;
    }

    main {
        display: block;
        overflow: auto;
    }

    #title h1 {
        margin-top: 20px;
        text-align: center;
        font-size: 50px;
        margin: 10px;
    }

    #title {
        padding-top: 20px;
    }

    #header {
        width: 100%;
    }

    #header img {
        margin-top: -30px;
        margin-bottom: -35px;
    }

    /*HOME*/
    #home {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        height: 100%;
        width:100%;
        margin-bottom: -1%;
    }

    .extra {
        background-color: none;
        border: solid;
        color: #63F2D8;
        text-align: center;
        /* margin: 10px; */
        padding-bottom: 300px;
        border: 2px solid #202833;
        box-shadow: 2px 2px 8px #0B0C10;
    }

    .extra:first-child {
        margin-right: 0%;
    }


    #friends {
        flex: 1;
    }

    #main-playlist {
        flex: 3;
        width:100%;
        /* height:200%; */
    }
    #sec-playlists2{
        margin:0px;
        margin-left:10px;
    }
    .profile-playlist {
        /* background-color: #202833; */
        border: 2px solid #63F2D8;
        box-shadow: 1px 1px 12px #49A69C;
        width: 90%;
        height: 30%;
        /* flex: 1 1 1 30%; */
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        /* margin-left: 20px; */
        margin-bottom: 10px;
        margin-top: 50px;
    }

    .profile-playlist img {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /*ABOUT US*/
    .p {
        padding: 40px;
        line-height: 1.7;
        font-size: x-large;
        color:#63F2D8;
    }

    /*PROFILE*/

    /* #playlists {
        width: 100%;
        display: flex;
        flex-direction: column;
    } */

    #playlist-nav {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: 0%;
        margin-bottom: -20%;
    }

    #playlist-nav ul {
        flex: 1;
        display: flex;
        padding: 0;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 20px;
        margin: left;
    }
    .pro-playlists{
        align-items: center;
        flex: 1 1 50%;
        display:flex;
        
    }
    #sec-playlists {
        /* flex: 1 3 50%; */
        /* flex-direction: row; */
        flex-wrap: wrap;
        margin-left: 0px;
        margin-top: 130px;
        margin-bottom: 10px;
        display: flex;
        /* width:50%;
        height:60%; */


    }
 
    .playlist1 img {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left:10px;
    }
    #playlist-nav a {
        text-decoration: none;
    }

    .playlist1 {
        flex:1;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left:-10px;


    }

    .playlist1 h1 {
        font-size: 20px;
        text-align: center;
        margin: 10px;
        width: 100%;
        /* margin-left: -3px; */
    }

    /*CONTACT*/

    .contact {
        flex: 1;
        padding-top: 0px;
    }

    .info {
        flex: 2;
        width: 83%;
        padding-top: 10px;
    }

    .info h3 {
        font-size: 20px;

    }

    .info p {
        font-size: 20px;
        padding-bottom: 90px;
    }

    #main-contact h1 {
        font-size: 30px;
    }

    #search p {
        font-size: 15px;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    #simple a {
        font-size: 15px;
        flex: 1;
        margin: 5px;
    }

    #simple {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    /*BLOG*/
    #main-blog {
        flex: 1;
        color: #63F2D8;
        background-color: #0B0C10;
        border: 2px solid #202833;
        box-shadow: 2px 2px 4px black;
        margin: 20px;
        padding: 10px;
        align-items: center;
        caret-color: #63F2D8;
        scrollbar-color: #63F2D8;

    }

    div.blog {
        scrollbar-color: #63F2D8;

    }

    #blog {
        grid-template-columns: repeat(2, 1fr);
        width: 95%;
    }

    .blog-title {
        /* width:100%; */
        /* display: block; */
        margin-bottom: 20px;
        margin-top: 20px;

        text-align: center;
        color: #63F2D8;
    }

    #blog p {
        text-align: center;
    }

    #main-blog {
        color: #63F2D8;
    }

    .popular {
        display: flex;
        flex-direction: column;
        width: 95%;
        border: none;
        margin: 10px;
        padding: 10px;
        /* font-size:40px; */
        text-align: center;
    }
    /* .popular h2{
        align-items: center;
    } */
    .popular img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .post {
        font-size: 20px;
        padding: 10px;
    }

    /*FOOTER*/
    #footer,
    #sec-nav {
        width: 95.45%;
        background-color: #0B0C10;
    }

    #footer {
        /* flex:3; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #0B0C10;
        margin-top: 10px;
        /* padding-bottom:40px; */
        padding: 20px;
        margin-left: -8px;
        margin-right: -8px;
        margin-bottom: -10%;


    }

    #footer #sec-nav {
        flex: 1;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 2px solid #63F2D8;

    }

    #footer a {

        text-decoration: none;
        list-style: none;
        color: #63F2D8;
    }

    #sec-nav ul {
        display: flex;
        flex: 1;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 5px;
        align-items: center;
        padding: 10px;

    }

    #all {
        flex: 1;
        color: white;
        background-color: #0B0C10;
        border: none;
        box-shadow: 1px 1px 10px black;
        border: 2px solid #202833;
        margin: 10px;
        padding: 10px;
        align-items: center;
    }

    #all img {
        width: 100%;

    }
}