body {
    background-color: #202833;
}

ul {
    list-style: none;
    color: #63F2D8;
    margin: 10px;
}

h2 {
    font-size: 30px
}

h1 {
    font-size: 50px
}

a {
    color: #63F2D8;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image:url(images/csce.jpg);
}

#all {
    flex: 1;
    color: #63F2D8;
    background-color: #0B0C10;
    border: 2px solid #202833;
    box-shadow: 2px 2px 4px black;
    margin: 20px;
    padding: 10px;
    align-items: center;
}

#all h2 {
    text-align: center;
}

#all {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* text-align: left; */
    /* margin:20%; */
}

/*PROFILE*/
#playlist-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}

#playlist-nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    margin-right: -5px;
    margin-left: -5px;
    flex: 1;
    flex-direction: row;

}

#playlist-nav li {
    justify-content: space-between;
    margin-left:40px;
    margin-right:40px;
}

#sec-playlists {
    display: flex;
    /* flex-wrap:wrap; */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.playlist1 {
    border: 2px solid #49A69C;
    background: #202833;
    box-shadow:2px 2px 4px #49A69C;
    text-align: center;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 40px;
    color: #63F2D8;
    box-sizing: border-box;
    margin: 10px;
    width: 60%;
    height: 80%;
}

.playlist1 img {
    width: 70%;
}

.playlists {
    align-items: center;
    justify-content: space-between;
}

#sec-playlist {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
}

.playlists img {
    margin: 0;
    width: max-content;
}

/*HEADER*/
#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background-color: #0B0C10;
    color: #63F2D8;
    margin-top: -10px;
    /* margin-left: -8px;
    margin-right: -8px; */
    border-bottom:2px solid #49A69C;

}

.top {
    flex: 1;
    margin: 20px;
}
#header img{
    width:140%;
    /* padding:-100%; */
    margin:-25%;
    margin-top:-28%;
}

/*HOME*/
#home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top:15px;
}

.extra {
    background-color: #0B0C10;
    border: 2px solid #49A69C;
    color: #63F2D8;
    text-align: center;
    margin: 10px;
    padding-bottom: 400px;
}

#friends {
    flex: 1;
}

#main-playlist {
    flex: 7;
}

/*footer*/
#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #0B0C10;
    margin-top: 20px;
    padding-bottom: 40px;
    padding: 40px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -10%;
    border-top:2px solid #49A69C;



}

#footer #sec-nav {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #49A69C;

}

#footer a {

    text-decoration: none;
    list-style: none;
    color: #49A69C;
}

#sec-nav ul {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px;
    align-items: center;
    padding: 10px;
    margin-left: 60px;
    margin-right: 60px;

}


/*BLOG*/
#blog {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

#blog p {
    text-align: center;
}

.popular {
    flex: 1;
    justify-content: space-between;
    border: 2px solid #49A69C;
    padding-bottom: 7%;
    margin: 10px;
    padding-top: 10px;
}

.post {
    font-size: 12px;
    padding: 10px;
}

.blog-div {
    display: flex;
    flex-direction: column;
}


/*ABOUT US*/

#all {
    text-align: center;
    font-size: x-large;
    height: 50%;
}


/*CONTACT*/
#search p {
    display: block;
    text-align: left;
    background: #F6F5F3;
    color: #202833;
    border: 2px solid #49A69C;
    padding-right: 40px;
    padding-left: 5px;
}

#simple {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#main-contact {
    display: flex;
    flex-direction: row;
}

.contact {
    flex: 1;
    margin: 20px;
    margin-right: 5px;
}

#simple ul {
    flex: 1;
}

.info {
    /* margin-left:20px; */
    margin-right: 20px;
    margin-top: 20px;
    text-align: left;
    padding-left: 10%;
}

.info p {
    padding-left: 5px;
    padding-right: 5%;
    padding-bottom: 20%;
    background: #FAEDFF;
    color: #202833;
    border: 2px solid #49A69C;
}

.search {
    flex: 1;
    margin-bottom: 40px;
}

.help {
    flex: 2;
}

.info {
    flex: 3;
}

/*SETTINGS*/
#settings-nav ul {
    /* display:flex;
    flex:1; */
    text-align: left;
    flex-direction: column;
}

#settings-nav li {
    margin-top: 60px;
    font-size: 30px;
    text-align: left;
}

@media (max-width: 1200px) {

    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        background-image: url(images/csce.jpg);
        color:#63F2D8;
    }

    body,
    h1,
    h2,
    p {
        margin: 0;
        padding: 0;
    }
    #all{
        background:#F9F8FD;
    }
    #title h1 {
        margin-top: 20px;
        text-align: center;
        font-size: 50px;
        margin: 10px;
    }
    #title{
        padding-top:20px;
    }
    #header {
        width: 101.15%;
    }
    #header img{
        margin-top:-30px;
        margin-bottom: -35px;
    }

    /*HOME*/
    #home {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        height: 100%;
        margin-bottom: -1%;
    }

    .extra {
        background-color: none;
        border: solid;
        color: #63F2D8;
        text-align: center;
        margin: 10px;
        padding-bottom: 300px;
        border: 2px solid gray ;
    }
    .extra:first-child{
        margin-right:0%;
    }


    #friends {
        flex: 1;
    }

    #main-playlist {
        flex: 3;
    }

    /*PROFILE*/
    .profile {
        flex: 1;
        color: #63F2D8;
        background-color: #202833;
        border: none;
        box-shadow: 2px 2px 4px black;
        margin: 0px;
        padding: 10px;
        align-items: center;
        display: flex;
        height: 100vh;
        overflow: hidden;
    }

    .playlists {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #playlist-nav {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: -20%;
        margin-left: 0%;
        margin-bottom: -20%;
    }

    #playlist-nav ul {
        flex: 1;
        display: flex;
        padding: 0;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 20px;
        margin: left;
    }

    #sec-playlists {
        flex: 1;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-left: -20px;
        margin: 0%;
        display: flex;


    }

    .playlist1 img {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #playlist-nav li {
        margin: 20px;

    }

    .playlist1 {
        background-color: #202833;
        border: 2px solid #63F2D8;
        width: 40%;
        height: 40%;
        flex: 1 1 1 50%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .playlist1 h1 {
        font-size: 20px;
    }

    /*CONTACT*/

    .contact {
        flex: 1;
        padding-top: 80px;
    }

    .info {
        flex: 2;
        width: 45%;
        padding-top: 40px;
    }

    .info h3 {
        font-size: 20px;

    }

    .info p {
        font-size: 20px;
        padding-bottom: 90px;
    }

    #main-contact h1 {
        font-size: 30px;
    }

    #search p {
        font-size: 15px;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    #simple a {
        font-size: 15px;
        flex: 1;
        margin: 5px;
    }

    #simple {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    /*BLOG*/
    #blog {
        flex: 1;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;

        align-items: center;
        flex-wrap: wrap;
    }

    #blog p {
        text-align: center;
    }

    .popular {
        flex: 1;
        flex-wrap: wrap;
        height: 80%;
        width: 90%;
        justify-content: space-between;
        border: 2px solid #202833;
        padding-bottom: 7%;
        margin: 10px;
        padding-top: 10px;
    }

    .post {
        font-size: 12px;
        padding: 10px;
    }

    .blog-div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #main-blog {
        flex: 1;
    }

    /*FOOTER*/
    #footer,
    #sec-nav {
        width: 95.45%;
        background-color: black;
    }

    #footer {
        /* flex:3; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: black;
        margin-top: 10px;
        /* padding-bottom:40px; */
        padding: 20px;
        margin-left: -8px;
        margin-right: -8px;
        margin-bottom: -10%;


    }

    #footer #sec-nav {
        flex: 1;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 2px solid #63F2D8;

    }

    #footer a {

        text-decoration: none;
        list-style: none;
        color: #63F2D8;
    }

    #sec-nav ul {
        display: flex;
        flex: 1;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 5px;
        align-items: center;
        padding: 10px;

    }

    #all {
        flex: 1;
        color: white;
        background-color: black;
        border: none;
        box-shadow: 2px 2px 4px black;
        margin: 10px;
        padding: 10px;
        align-items: center;
    }

    #all img {
        width: 100%;
    }
}