body {
    background-color: rgba(32, 40, 51, 0.85);

}

html {
    overflow-y: scroll;
    scrollbar-color: #63F2D8 #0B0C10;
}

ul {
    list-style: none;
    color: #63F2D8;
    margin: 10px;
}

h2 {
    font-size: 30px
}

h1 {
    font-size: 50px
}

a {
    color: #63F2D8;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url(images/csce.jpg);
}

main {
    display: block;
    overflow: auto;
    overflow-y: scroll;
    scrollbar-color: #63F2D8 #0B0C10;
}

#all {
    flex: 1;
    color: #63F2D8;
    background-color: rgba(32, 40, 51, 0.85);
    border: 2px solid #296f68;
    box-shadow: 3px 3px 10px 6px #0B0C10;
    margin: 20px;
    padding: 10px;
    align-items: center;
}

#all h2 {
    text-align: center;
}

/* #all {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
} */
/*HORROR*/
#create {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;

}

.create-header h1 {
    font-size: 60px;
}

h5 {
    margin-top: 0;
    color: #F6F5F3
}

.movie {
    font-size: large;
    margin-top: 20px;
}

.movie img {
    width: 60%;
}

/*PROFILE*/
#playlist-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;

}

#profile {
    flex: 1;
    color: #63F2D8;
    background-color: rgba(32, 40, 51, 0.85);
    ;
    border: 2px solid #296f68;
    box-shadow: 3px 3px 10px 6px #0B0C10;
    margin: 20px;
    padding: 10px;
    align-items: center;
}

#profile img {
    width: 100%;
}

#playlist-nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    margin-right: -5px;
    margin-left: -5px;
    margin-bottom: 20px;
    flex: 1;
    flex-direction: row;

}

#playlist-nav li {
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}

#playlist-nav a:hover {
    color: #296f68
}

#sec-playlists {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pro-playlists {
    text-decoration: none;
    flex: 1;
    display: block;
    border: 2px solid #296f68;
    box-shadow: 1px 1px 12px #49A69C;
    align-items: center;
    margin: 20px;


}

#sec-playlists a:hover {
    color: #296f68
}

.playlist1 {
    margin-left: 20px;
    display: block;
    width: 50%;
    height: 50%;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 10px;
    text-align: center;
}

.playlist1 img {
    width: 100%;
}

/*HEADER*/
#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: space-between;
    text-align: center;
    background-color: rgba(32, 40, 51, 0.85);
    color: #63F2D8;
    margin-top: -10px;
    border-bottom: 2px solid #296f68;

}

.menu-btn {
    display: none;
}

.nav-menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.top {
    flex: 1;
    margin: 20px;
}

#header img {
    width: 120%;
    margin: -23%;
    margin-top: -23%;
    padding-left:90px;
}

/*HOME*/
#sec-playlists2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 80px;
    gap: 20px;
}

.profile-playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #296f68;
    padding: 10px;
    text-decoration: none;
    color: #63F2D8;
    width: 80%;
}

.profile-playlist img {
    margin-bottom: 10px;
    width: 50%;

}

#home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 15px;
    height: 58.7%;
}

#home h3 {
    font-size: 30px;
}

.extra {
    background-color: rgba(32, 40, 51, 0.85);
    border: 2px solid #296f68;
    color: #63F2D8;
    text-align: center;
    margin: 10px;
    padding-bottom: 400px;
}

#friends {
    flex: 1;
}

#main-playlist {
    flex: 5;
    margin-left: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0 auto;

}

/*footer*/
#footer {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(32, 40, 51, 0.85);
    margin-top: 20px;
    padding-bottom: 40px;
    padding: 20px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -10%;
    border-top: 2px solid #296f68;
    width: 95.4%;
}

#footer #sec-nav {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #296f68;

}

#footer a {
    text-decoration: none;
    list-style: none;
    color: #49A69C;
}

#sec-nav ul {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px;
    align-items: center;
    padding: 10px;
    margin-left: 60px;
    margin-right: 60px;
}


/*BLOG*/
#main-blog {
    flex: 1;
    color: #63F2D8;
    background-color: rgba(32, 40, 51, 0.85);
    border: 2px solid #296f68;
    box-shadow: 3px 3px 10px 6px #0B0C10;
    margin: 20px;
    padding: 10px;
    align-items: center;
}

.blog-title {
    margin-bottom: 20px;
    text-align: center;
}

#blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    align-items: stretch;
    margin-top: 0 auto;
}

.popular img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.popular {
    display: flex;
    flex-direction: column;
    width: 95%;
    border: 2px solid #296f68;
    margin: 10px;
    padding: 10px;
    align-items: center;

}

.popular .post {
    line-height: 1.5;
    padding-left: 15px;
}

/*ABOUT US*/

#all {
    text-align: center;
    font-size: x-large;
    height: 50%;
}

.p {
    margin: 60px;
    line-height: 1.7;
    font-size: 30px;
}


/*CONTACT*/
#search p {
    display: block;
    text-align: left;
    background: #F6F5F3;
    color: #202833;
    border: 2px solid #296f68;
    padding-left: 5px;
}

#simple {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#main-contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact {
    flex: 1;
    margin: 20px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    color: #63F2D8
}

#simple ul {
    flex: 1;
}

.info {
    flex: 1;
    margin-left: 0px;
    align-items: center;
    margin-top: 20px;
    padding: 50px;
    text-align: left;
    color: #63F2D8;
}

.info p {
    padding-left: 5px;
    padding-right: 5%;
    padding-bottom: 20%;
    background: #FAEDFF;
    color: #202833;
    border: 2px solid #296f68;
}

/*SETTINGS*/
#settings-nav ul {
    text-align: left;
    flex-direction: column;
}

#settings-nav li {
    margin-top: 60px;
    font-size: 30px;
    text-align: left;
}

/*DISCOVER*/
.discover {
    color: #63F2D8;
}

#menu li a {
    text-decoration: none;
    color: #63F2D8
}

/*SOMETHING ELSE*/
#title h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
    margin: 10px;
}

#title {
    padding-top: 20px;
}

/*HOME*/
#sec-playlists2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* gap: 20px; */
    /* margin:5px; */
}

.profile-playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #296f68;
    box-shadow: 1px 1px 12px #49A69C;

    padding: 20px;
    text-decoration: none;
    color: #63F2D8;
}

.profile-playlist img {
    width: 50%;
    margin-bottom: 10px;
}

#home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 15px;
    height: 100%;
}

#home h3 {
    font-size: 30px;
}

.extra {
    background-color: rgba(32, 40, 51, 0.85);
    border: 2px solid #296f68;
    box-shadow: 3px 3px 10px 6px #0B0C10;
    color: #63F2D8;
    text-align: center;
    margin: 10px;
    padding-bottom: 400px;
}

#friends {
    flex: 1;
}

#main-playlist {
    flex: 3;
    margin: 10px;
    /* margin-left: -10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0 auto;

}

/*ABOUT US*/
.p {
    padding: 40px;
    line-height: 1.7;
    font-size: x-large;
    color: #63F2D8;
}

/*PROFILE*/

#sec-playlists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0px;
    justify-content: center;
}

.pro-playlists {
    display: block;
    text-decoration: none;
    color: #63F2D8;
    justify-content: center;
    border: none;
    box-shadow: none;
    /* align-items: center; */
}

.playlist1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #49A69C;
    box-shadow: 1px 1px 12px #49A69C;
    padding: 30px;
    background-color: rgba(32, 40, 51, 0.85);
}

.playlist1 img {
    margin-bottom: 10px;
}

.playlist1 h1 {
    font-size: 20px;
    text-align: center;
    /* margin: 10px;
        width: 100%; */
}

/*CONTACT*/

.contact {
    flex: 1;
    padding-top: 0px;
}

.info {
    flex: 2;
    width: 83%;
    padding-top: 10px;
}

.info h3 {
    font-size: 20px;

}

.info p {
    font-size: 20px;
    padding-bottom: 90px;
}

#main-contact h1 {
    font-size: 30px;
}

#search p {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;

}

#simple a {
    font-size: 15px;
    flex: 1;
    margin: 5px;
}

#simple {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*BLOG*/
#main-blog {
    flex: 1;
    color: #63F2D8;
    background-color: rgba(32, 40, 51, 0.85);
    border: 2px solid #0B0C10;
    box-shadow: 3px 3px 10px 6px #0B0C10;
    margin: 20px;
    padding: 10px;
    align-items: center;
    caret-color: #63F2D8;
    scrollbar-color: #63F2D8;

}

#blog {
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
    align-items: stretch;
}

.blog-title {
    /* width:100%; */
    /* display: block; */
    margin-bottom: 20px;
    margin-top: 20px;

    text-align: center;
    color: #63F2D8;
}

#blog p {
    text-align: center;
}

#main-blog {
    color: #63F2D8;
}

.popular {
    display: flex;
    flex-direction: column;
    width: 95%;
    border: none;
    margin: 10px;
    padding: 10px;
    /* font-size:40px; */
    text-align: center;
}

/* .popular h2{
        align-items: center;
    } */
.popular img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.post {
    font-size: 20px;
    padding: 10px;
}


#sec-nav ul {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px;
    align-items: center;
    padding: 10px;

}

/*HOW TO*/
#howTo {
    list-style: circle;
    text-align: left;
}

/*ADD PLAYLIST*/
.add-btn {
    background: none;
    color: #63F2D8;
    border: 2px solid #296f68;
    padding: 10px 15px;
    margin-bottom: 15px;
    margin: 40px;
}

.playlistList ul {
    text-align: center;
    padding: 0;
    list-style-type: none;
}

li {
    padding: 8px;
}

.add h2 {
    margin-top: 40px;
}

.add-btn:hover {
    color: #296f68;
}

/*NAV HAMBURGER*/
.menu-btn {
    display: block;
    font-size: 28px;
    background: none;
    border: none;
    color: #63F2D8;
    cursor: pointer;
}

#header button {
    padding-left: 170px;
    padding-top:20px;
}

#menu {
    display: none;
    flex-direction: column;
    text-align: right;
    padding-right:120px;
}

#menu.active {
    display: flex;
}

#menu li {
    padding: 0px 0;
}

@media (max-width: 768px) {

    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        background-image: url(images/csce.jpg);
        color: #63F2D8;
    }

    body,
    h1,
    h2,
    p {
        margin: 0;
        padding: 0;
    }

    main {
        display: block;
        overflow: auto;
    }

    /*NAV HAMBURGER*/
    .menu-btn {
        display: block;
        font-size: 28px;
        background: none;
        border: none;
        color: #63F2D8;
        cursor: pointer;
    }

    #header button {
        padding-left: 70px;
    }

    #menu {
        display: none;
        flex-direction: column;
        text-align: center;
    }

    #menu.active {
        display: flex;
    }

    #menu li {
        padding: 3px 0;
    }

}