body{
    background: #EB7165;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* border-color: #E9C4B7; */
    border-style: solid;
    border: 5px #E9C4B7;
}
/* div{
    border: 5px #E9C4B7;
    border-style: solid;

} */
h1{
    text-align: center;
    padding-top: 5px;
    color: #E9C4B7;
    text-shadow: 2px;
}
img{
    max-width: 100%;
    text-align: right;
    display: block;
}

/*main*/
#main-nav{
    background-color: #E9C4B7;
    padding: 0;
    margin:0%;
    width:100%;
}
#main-nav a{
    text-decoration: none;
    color:#EB7165;
    padding: 15px 100px;
    display: block;
}

#main-nav li{
    flex:1;
    text-align: center;
}
#main-nav li:hover{
    background: #f6ad92;
}
/* #main-nav li:first-child{
    border-top:none;
} */
#main-nav ul{
    list-style: none;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    padding:0;
    margin: 0;
    width:100%;
    border-style: solid;
    border:#e8a46f;
}
#main-content{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    background: #e8a46f;
    border-left:#E9C4B7;
    border-right:#E9C4B7;
    color: #EB7165;
    border: 5px #E9C4B7;
    border-style: solid;
}
/*columns*/

.columns{
    /* text-align: center; */
    display:flex;
    align-items: flex-start;
    flex-direction:row;
    /* flex: 0 1 48%; */
    padding: 20px;
}
.columns img{
    flex-shrink: 0;
}
.columns .image{
    flex:1;
}
.image{
    padding: 20px;
}

@media (max-width: 768px){
    .columns {
        flex: 1 1 100%;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
}