body{
    background: #EB7165;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-color: #E9C4B7;
    border:5px;
}
h1{
    text-align: center;
    padding-top: 5px;
    
}
img{
    max-width: 100%;
    text-align: right;
}
#content{
    width: 90%;
    margin:auto;
    background: #EBA065;
    border:#E9C4B7;
    color:#E9C4B7;
    
}
/* section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:auto;
} */

/*main*/
#main-nav a{
    text-decoration: none;
    color:#EB7165;
    padding: 10px 5px;
    text-align: center;
    display: block;
}
#main-nav a:hover{
    background: #EBA065;
    color:#EB658B;
}
#main-nav li{
    list-style-type: none;
    flex:1;
    background-color:#E9C4B7 ;
}
#main-nav ul{
    padding-left:0px;
}
#main-content{
    padding: 5px;
    flex: 1;
}
#main-nav h3{
    margin: 0;
}

/*flex*/
.one{
    flex:1;
}
.two{
    flex:2;
}

/*columns*/
.columns{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:auto;
}
.columns section{
    width:25%;
    text-align: center;
}

@media only screen and (min-width: 768px){
    body {
        background-size:cover;
        display:flex;
        
    
    }
}