body {
    background: #EB7165;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border-color: #E9C4B7; */
    border-style: solid;
    border: 5px #E9C4B7;
}
h1 {
    text-align: center;
    padding-top: 5px;
    color: #E9C4B7;
    text-shadow: 2px;
}

/*main*/
#main-nav {
    background-color: #E9C4B7;
    padding: 0;
    margin: 0%;
    width: 100%;
}

#main-nav a {
    text-decoration: none;
    color: #EB7165;
    padding: 15px 100px;
    display: block;
}

#main-nav li {
    flex: 1;
    text-align: center;
}

#main-nav li:hover {
    background: #f6ad92;
}
#main-nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    border-style: solid;
    border: #E9C4B7;
}

#main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: #E9C4B7;
    padding: 20px;
}

/*columns*/

.columns {
    /* text-align: center; */
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex: 1 1 45%;
    padding: 20px;
    gap: 20px;
    border-style: solid;
    border: 5px #E9C4B7;
}

.columns img {
    max-width: 200px;
    height: auto;
    flex-shrink: 0;
}

.columns .text {
    flex: 1;
}

/*second */
#link {
    flex: 1;
    height: auto;
    background: #E9C4B7;
}

#title {
    flex: 2;
    /* display: flex;
    flex: 1 1 30%;
    flex-direction:column; */
    background: #e8a46f;
}

#gallery {
    flex: 3;
    background: #e8a46f;
    border: 5px solid #E9C4B7;
    display: flex;
    width: auto;
    flex-wrap: wrap;
}

.column {
    text-align: center;
    border: 5px solid #E9C4B7;

    padding: 5px;
}

#second-content {
    display: flex;
    width: auto;
    flex-wrap: wrap;
    background: #EB7165;
    color: #EB7165;
    padding: 10px;
    flex: 1 1 50%;
}

.section1 {
    flex: 2;
    padding: 10px;
    border: 5px solid #E9C4B7;
}

nav {
    background: #E9C4B7;
    padding: 10px;
    list-style: none;
}

/*Gallery*/

#gallery div {
    flex: 1 3 30%;
    /* width: 25%; */
    text-align: center;
    padding: 10%;
}

#gallery img {
    padding: 5px;
    width: 100%;
}


/*footer*/
#main-footer {
    background: #e8a46f;
    text-align: center;
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .columns {
        flex: 1 1 100%;
        flex-direction: column;
        text-align: left;
        align-items: center;
    }

    #main-nav ul {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: auto;
    }

    .columns img {
        margin-bottom: 15px;
    }

    #gallery {
        flex: 1 1 100%;
        flex-direction: column;
        text-align: center;
        /* align-items: center; */

    }

    #second-content {
        flex: 1 1 100%;
        flex-direction: column;
        width: 100%;
        text-align: center;
        align-items: center;

    }

    #link {
        width: auto;
    }

    nav {
        text-align: left;
    }
}