body{
    background: #EB7165;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-color: #E9C4B7;
    border:5px;
}
h1{
    text-align: center;
    padding-top: 5px;
    
}
img{
    max-width: 100%;
    text-align: right;
    display: block;
}
header{
    width: 100px;
    text-align:center;
}

/*main*/
#main-nav{
    background-color: #E9C4B7;
    padding: 0;
    margin:0%;
    width:100%;
}
#main-nav a{
    text-decoration: none;
    color:#EB7165;
    padding: 10px 5px;
    text-align: center;
    /* display: block; */
}
#main-nav a:hover{
    background: #EB8965;
    color:#e6547d;
}

#main-nav li{
    /* list-style-type: none; */
    text-align: center;
    /* padding: 15px 0px; */
    flex:1;
    /* display: grid;
    grid-auto-flow: column;
    justify-content: center; */
    /* margin: 0 10px; */
}
#main-nav li:hover{
    background: #EB8965;
}
#main-nav li:first-child{
    border-top:none;
}
#main-nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:0;
    margin: 0;
    justify-content: center;
    align-items: center;
    /* width: auto; */
    background: none;
}
#main-content{
    padding: 5px;
    /* flex: 1; */
}

/*content*/
.content{
    width: 90%;
    margin:0;
    background: #EBA065;
    border:#E9C4B7;
    color:#E9C4B7;
    /* align-items: center;   */
}

/*flex*/
/* .one{
    flex:1;
}
.two{
    flex:2;
} */

/*columns*/
.columns{
    /* padding: 1px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:auto;
    flex-wrap: wrap;
    padding: 20px;
    border: 1px #E9C4B7;
}
.columns section{
    width:25%;
    align-items: center;
}

.content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap:20px;
    justify-content: center;
}
.stuff{
    flex: 1 1 100%;
    padding: 20px;
}

@media (max-width: 768px){
    .columns {
        flex: 1 1 100%;
        flex-direction: column;
        text-align: center;
    }
    .stuff{
        flex: 1 1;
    }
}