body{
    background: #EB7165;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-color: #E9C4B7;
    border:5px;
}
h1{
    text-align: center;
    padding-top: 5px;
    
}
img{
    max-width: 100%;
    text-align: right;
    display: block;
}
/* section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:auto;
} */

/*main*/
#main-nav{
    display: flex;
    justify-content: center;
}
#main-nav a{
    text-decoration: none;
    color:#EB7165;
    padding: 10px 5px;
    text-align: center;
    display: block;
}
#main-nav a:hover{
    background: #EBA065;
    color:#EB658B;
}

#main-nav li{
    list-style-type: none;
    flex:1;
    display: flex;
    text-align: center;
    background-color:#E9C4B7 ;
    padding: 5px;
    margin: 0 10px;
}
#main-nav li:first-child{
    border-top:none;
}
#main-nav ul{
    padding:0px;
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
    width: 80%;
    background: none;
}
#main-content{
    padding: 5px;
    flex: 1;
}

/*content*/
#content{
    width: 90%;
    margin:auto;
    background: #EBA065;
    border:#E9C4B7;
    color:#E9C4B7;
    align-items: center;  
}

/*flex*/
/* .one{
    flex:1;
}
.two{
    flex:2;
} */

/*columns*/
.columns{
    /* padding: 1px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:auto;
    flex-wrap: wrap;
    padding: 20px;
    border: 1px #E9C4B7;
}
.columns section{
    width:25%;
    align-items: center;
}

@media (max-width: 768px){
    .columns {
        flex: 1 1 100%;
        flex-direction: column;
        text-align: center;
    }
}