/*structure*/
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div{
    background:honeydew;
    width:70%;
    margin:auto; /*center*/
    padding:10px /*get text away from edge*/
    border-radius:5px; /*round corners*/
}
/*typography*/
h1{
    color:midnightblue;
   
}
h2{
    color:cornflowerblue;
}