/*structure*/
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div{
    background:honeydew;
    width:70%;
}
/*typography*/
h1{
    color:midnightblue;
   
}
h2{
    color:cornflowerblue;
}