/*structure*/
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:url("images/jungle.jpg");
}
div{
    background:honeydew;
    width:70%;
    margin:auto; /*center*/
    padding:10px /*get text away from edge*/
    /*border:5px; round corners*/
}
#content{
    background:honeydew;
    width:70%;
    margin:auto; /*center*/
    padding:10px /*get text away from edge*/
    border-radius:5px; /*round corners*/
}
/*typography*/
h1{
    color:midnightblue;
   
}
h2{
    color:cornflowerblue;
}
/*table*/
th{
    background:honeydew;
    color:cadetblue
}
#giraffe.jpg {
    box-shadow: 7px 7px midnightblue;
}
td, th{
    border:2px cadetblue
   /* padding: 5px 10px; /*top and bottom 5, right and left 10*/
}
