body{
 background-color: white;
}
ul{
    list-style: none;
    color: white;
    margin:10px;
}
h2{
    font-size:30px
}
h1{
    font-size:50px
}
a{
    color: white;
}
html,body{
    height:100%;
    margin:0;
    display:flex;
    flex-direction:column;
}
/*BLOG*/
#all{
    flex:1;
    color:white;
    background-color: black;
    border: 2px solid gray;
    box-shadow: 2px 2px;
    margin:20px;
    padding:10px;
    align-items: center;
}
#all h2{
    text-align: center;
}
#blog p{
    text-align: center;
}
/*PLAYLISTS*/
#playlist-nav{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#playlist-nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size:18px;
    margin-right:-5px;
    margin-left:-5px;
    flex:1;
    flex-direction: row;

}
#sec-playlists{
    display:flex;
    /* flex-wrap:wrap; */
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    

}
#playlist1{
    border:2px solid gray;
    background: white;
    text-align: center;
    padding:20px;
    padding-left:80px;
    padding-right:80px;
    padding-bottom:40px;
    color:black;
    box-sizing: border-box;
    margin:20px;
    width:60%;
    height:80%;
}
#playlist1 img{
    width:40%;
}
#playlists{
    align-items: center;
    justify-content: space-between;
}
#sec-playlist{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    flex:1;
}


/*PROFILE*/
#playlists img{
    margin:0;
    width:max-content;
}

/*header*/
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background-color: black;
    color:white;
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;
}
.top{
    flex:1;
    margin: 20px;
}


/*main*/
#main{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.extra{
    background-color:black;
    border:2px solid gray;
    color:white;
    text-align:center;
    margin: 10px;
    padding-bottom:400px;
}
#friends{
    flex:1;
}
#main-playlist{
    flex:7;
}

/*footer*/
#footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    margin-top: 20px;
    /* padding-bottom:40px; */
    padding:40px;
    margin-left:-8px;
    margin-right:-8px;
    margin-bottom:-10%;
   

}
#footer #sec-nav{
    flex:1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white; 

}
#footer a{

    text-decoration: none;
    list-style: none;
    color:white;
}
    #sec-nav ul{
        display: flex;
        flex:1;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 5px;
        align-items: center;
        padding:10px;
        margin-left: 60px;
        margin-right: 60px;

    }
/*BLOG*/
#blog{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#popular{
    flex:1;
    justify-content: space-between;
    border:2px solid gray;
    padding-bottom:7%;
    margin:10px;
    padding-top:10px;
}
.post{
    font-size:12px;
    padding:10px;
}
 /*ABOUT US*/  
 
 #all{
    text-align: center;
    font-size: x-large;
    height:50%;
 }
/*CONTACT*/
#search p{
    display:block;
    text-align: left;
    background:white;
    color:black;
    border: 2px solid gray;
}
#simple{
    display:flex;
    flex-direction: column;
    text-align: left;
}
.contact{
    flex:1;
    margin:20px;
}
#simple ul{
    flex:1;
}
#all{
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    /* text-align: left; */
    /* margin:20%; */
}
.info{
    margin-left:20%;
    margin-right:20px;
    margin-top:20px;
    text-align: left;
}
.info p{
    padding-right:5%;
    padding-bottom:30%;
    background:white;
    color:black;
    border: 2px solid gray;
}
.search{
    flex:1 ;
    margin-bottom:60px;
}
.help{
    flex:2;
}
.info{
 flex:3;
}
@media (max-width: 768px) {
    #footer{
        display:flex;
        flex-direction: row;
        justify-content: space-between;

    }
    #sec-nav ul{
        display: flex;
        flex:1;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 5px;
        align-items: center;
        padding:10px;

    }
    #friends{
    flex:1;
}
#main-playlist{
    flex:4;
}
}