body{
    background:#47630a;
    font-family:Arial, Helvetica, sans-serif;
}
#content{
    width: 95%;
    margin: auto;
    background:#3E5902 ;
}
#main-header{
    color:#d5dfbf;
    padding:5px;
}
#main-nav ul{
    list-style-type:armenian;
}
#main-nav li {
    border-bottom: 1px ;
    padding: 10px;
}
#main-nav a {
    color:#d5dfbf;
    padding: 5px;
    text-decoration: none;
}
h1{
    text-align: center;
}
@media only screen and (min-width: 768px){
body {
    background: url(images/tree.jpg);
    background-size:cover;
    

}

}