body{
    background:#2C4001;
    font-family:Arial, Helvetica, sans-serif;
}
#content{
    width: 95%;
    margin: auto;
    background:#3E5902 ;
    border:#d5dfbf;
    border-radius: 5px;
}
#main-header{
    color:#d5dfbf;
    padding:5px;
}
/*columns*/
.columns {
    display:flex;
}
/*main navigation*/
#main-nav ul{
    list-style-type:none;
    padding-left:0;
}
#main-nav li {
    border-bottom: 1px #d5dfbf;
}
#main-nav li:first-child{
    border-top:1px #d5dfbf
}
#main-nav a {
    color:#d5dfbf;
    padding: 10px 5px;
    display: block;
    text-decoration: none;
}
#main-nav a:hover{
    background:#d5dfbf;
    color:#47630a
}
h1{
    text-align: center;
}
@media only screen and (min-width: 768px){
body {
    background: url(images/tree.jpg);
    background-size:cover;
    

}

}