body{
    background:#2C4001;
    font-family:Arial, Helvetica, sans-serif;
    border-color: #d5dfbf;
}
#content{
    width: 95%;
    margin: auto;
    background:#3E5902 ;
}
#main-header{
    color:#d5dfbf;
    padding:5px;
}
/*columns*/
.columns {
    display:flex;
}
.one{
    flex:1;
}
.two{
    flex:2;
}
.three{
    flex:3;


}
.four{
    flex:4
}
.five{
    flex:5;
}
.squirrel{
    background:#2C4001;
    padding: 5px;
    border-radius:5px;
    margin:5px;
}
/*main navigation*/
#main-nav ul{
    padding-left:0;
}
#main-nav li {
    border-bottom: none;
    list-style-type:none;
    flex:1;
    padding: 5px;
    background-color: #3E5902;
    border-bottom: #d5dfbf;
    
}
#main-nav li:first-child{
    border-top:none;
    
}
#main-nav a:hover{
    background:#3E5902;
    color:#d5dfbf;
    border-bottom:1px #d5dfbf;
}
#main-nav a {
    color:#d5dfbf;
    padding: 10px 5px;
    display: block;
    text-decoration: none;
    text-align: center;
}
#main-nav a:hover{
    background:#d5dfbf;
    color:#47630a
}
h1{
    text-align: center;
}
img{
    max-width:100%; /*important for images*/
}
.hide{
    display:none;/*no space in your markup, visibility hidden means it takes up space ts just white*/
}
.hide-small{
    display:block;
}
#main-content section, #main-content aside{
    padding:5px;
}
@media (min-width: 900px){
body {
    background: url(images/tree.jpg);
    background-size:cover;
    display:flex;
    

}
/* only screen and */
}