/*header*/
body{
    background-color: white;
    height: max-content;
}
a{
    color:white;
    text-decoration: none;
    list-style: none;
}
h3, h1{
    margin: 0;
    padding: 5px;
    
}
/* nav{
    position: absolute;
    top: 0px;
    left: 0px;
} */
 /*main*/
#main-nav{
    background-color: black;
    width:100%;
    height:100%;
}
#nav{
    list-style: none;
    text-decoration: none;
    color:white;
    gap:0;
    position: relative;
    top: -10px;
    left: 5px;
}
#nav li{
    margin:10px;
    padding-right:20px;
    border-right:2px solid white; 
}
#nav li:last-child{
    border-right: none;
}
#nav ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    padding: 20px;
    justify-content: flex-start;
    border-style: solid;
    border: 5px white;
}
#nav a:hover{
    background-color:#75000A;
}
#title{
    /* background-color: black; */
    color:white;
    display:flex;
    flex: 1;
    background-color: black;
    /* margin:0px;
    margin-top: 0px; */
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 20px;
    width: 98.75%;
    margin-left: -1%;
    margin-right: -3%;
    text-items: center;
}
.two{
    /* flex:2; */
    display: flex;
    flex-direction: column;
    margin-right: auto;
    
}
/*sec-nav*/
#sec-nav{
    display:flex;
    justify-content: flex-end;
    margin: 20px;
    background: #75000A;
    width: 103.56%;
    margin-left: -3%;
    margin-right: -3%;
    display:block;
}
#navs{
    flex-direction: row;
    width:100%;
    
}
#navs a:hover{
    background-color: #570009;
}
#navs a{

}
#navs ul{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style: none;
    margin-right: 10px;
    
}
#navs li{
    margin:10px;
    display:block;
}
@media (max-width: 768px)
{
    #title{
        flex: 1 1 50%;
        margin:10px;
        text-align: left;
    }
}