/*header*/
body {
    background-color: white;
    height: max-content;
    margin: 0%;
    padding: 0%;
}

a {
    color: white;
    text-decoration: none;
    list-style: none;
}

h3,
h1 {
    margin: 0;
    padding: 5px;
}

h3 {
    font-size: 100%;
    margin: 0 0 -12px 0%;
}

h1 {
    font-size: 180%;
    margin: 0%;
}

img {
    width: 4%;
    height: 4%;
}

/* nav{
    position: absolute;
    top: 0px;
    left: 0px;
} */
/*main*/
#main-nav {
    background-color: black;
    width: 100%;
    margin-top: -1.5%;
    /* margin-left: -1%;
    margin-right: 5%; */
    padding: -5px 0px;




}

#nav {
    list-style: none;
    text-decoration: none;
    color: white;
    gap: 0;
    position: relative;
    top: -10px;
    left: 5px;
    width: 50%;
    height: 50%;

}

#nav li {
    margin: 10px;
    padding-right: 20px;
    border-right: 2px solid white;
}

#nav li:last-child {
    border-right: none;
}

#nav ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    padding: 15px;
    justify-content: flex-start;
    border-style: solid;
    border: 5px white;
    font-size: 70%;

}

#nav a:hover {
    background-color: #75000A;
}

#nav a {
    font-size: 90%;
    font-family: helvetica;
    font-weight: bold;
}

#title {
    color: white;
    display: flex;
    flex: 1;
    background-color: black;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 20px;
}

.two {
    /* flex:2; */
    display: flex;
    flex-direction: column;
    margin-right: auto;

}

/*sec-nav*/
#sec-nav {
    display: flex;
    justify-content: flex-end;
    background: #75000A;
    width: 103%;
    margin-left: -3%;
    display: block;
    margin-top: -1.2%;
    margin-bottom: -1.3%;
    /* padding: 5px; */
}

#navs {
    flex-direction: row;
    width: 100%;

}

#navs a:hover {
    background-color: #570009;
    height: 100%;

}

#navs a {
    font-family: helvetica;
    font-weight: bold;
    font-size: 100%;
}

#navs ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style: none;
    margin-right: 10px;

}

#navs li {
    margin: 10px;
    display: block;
}

/*3rd section*/
#image1 {
    width: 100%;
    height: 100vh;
}

#image1 img {
    width: 100%;
    height: 74%;
    object-fit: cover;
    display: block;
}

#image1 h1 {
    position: absolute;
    top: 79%;
    left: 0%;
    color: #570009;
    background-color: rgba(255, 255, 255, 0.3);
    padding-bottom: 23px;
    padding-top: 23px;
    padding-left: 28px;
    padding-right: 80px;
    margin: 0%;
    font-size: 35px;

}

#text1 {
    margin-left: 28%;
    margin-right: 25%;
    margin-top: -12%;
    font-family: helvetica;
    font-weight: bold;
    line-height: 1.7;
    font-size: 24px;
}

#text2 {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    height: 400px;
    /* flex: 1 1 50%; */
}

#text2 .text {
    flex: 1;
    background-color: #75000A;
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;

}

.image {
    flex: 1;
    height: 100%;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.text a {
    background: black;
    color: white;
    font-family: helvetica;
    font-weight: bold;
    position: absolute;
    padding: 20px;
    border: 2px solid white;
    top: 165%;
    left: 5%;
    text-decoration: none;
}

.text a:hover {
    background: white;
    color: #570009;
}

.text h1 {
    font-family: Helvetica;
    font-weight: bold;
}

.text p {
    font-family: Helvetica;
    font-weight: bold;
}

/*PROGRAM SECTION*/
#text3 {
    text-align: center;
    font-family: helvetica;
    margin: 40px;
    padding-left: 20%;
    padding-right: 20%;
    text-decoration: none;
    list-style: none;
}

#text3 h1 {
    color: #75000A;
    margin: 20px;
    font-size: 50px;

}

#nav {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;


}

#text3 ul {
    text-decoration: none;
    list-style: none;
    padding-left: -1%;
    margin: 30px;
    padding-top: 20px;
}

#text3 a {
    font-family: helvetica;
    font-weight: bold;
    font-size: 100%;
    color: white;
    margin: 30px;
    text-decoration: none;
    list-style: none;
    background: #75000A;
    padding: 10px;
    border: 2px solid white;
    box-shadow: 2px 2px 6px #570009;
}


/*image 2*/

#image2 {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(images/img&text=image.gif);
    background-size: cover;
    overflow: hidden;
}

#image2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#image2 h1 {
    /* position:absolute; */
    /* top:79%;
    left:0%; */
    color: white;
    /* background-color:rgba(255, 255, 255, 0.3); */
    padding-bottom: 23px;
    padding-top: 23px;
    padding-left: 22px;
    padding-right: 80px;
    margin: 0%;
    font-size: 35px;

}

.discovery {
    position: absolute;
    left: 100px;
    bottom: 60px;
    margin-right: 30px;
    margin-left: 40%;
    margin-top: 10%;
    padding-bottom: 3%;
    /* padding:0px; */
    background: black;
    color: white;
    text-align: left;
    font-family: helvetica;
    font-weight: bold;
}

.discovery p {
    margin-left: 0%;
    margin-right: 20%;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: -20%;
    line-height: 1.7;
}

.discovery a {
    position: relative;
    top: 20%;
    left: 3%;
    padding: 10px;
    background: #75000A;
    border: 2px solid white;
}

#nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    /* margin-right: 10px; */

}

/*text 4*/

#text4 {
    background-color: #75000A;
    color: white;
    overflow: hidden;
    height: 300px;
}

#text4 .usc {
    position: relative;
    left: 40%;
    bottom: 30%;
    padding-top: 10%;
    /* padding-bottom:-20%; */
    padding-right: 50%;
    line-height: 1.7;
    font-size: 20px;

}

#text4 #p {
    font-family: helvetica;
    font-weight: bold;
    font-size: 15px;
}

#text4 img {
    position: relative;
    left: 10%;
    bottom: 315px;
    display: block;
    border-radius: 50%;
    width: 20%;
    height: 90%;
}

/*section 5*/
#text5 {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    height: 400px;
    /* flex: 1 1 50%; */
}

#text5 .text {
    flex: 1;
    background-color: #1E414D;
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;

}

.image {
    flex: 1;
    height: 100%;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.text a {
    background: #75000A;
    color: white;
    font-family: helvetica;
    font-weight: bold;
    position: relative;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid white;
    top: 4%;
    left: .2%;
    text-decoration: none;
    width: 12%;
}

.text a:hover {
    background: white;
    color: #570009;
}

.text h1 {
    font-family: Helvetica;
    font-weight: bold;
}

.text p {
    font-family: Helvetica;
    font-weight: bold;
}

/*section 6*/
#text6 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
    margin-top: 60px;
    margin-left: 50px;
    padding: 40px;
    font-family:helvetica;
}
#text6 h2{
    color:#75000A;
    font-weight: bold;
}
#text6 p{
    line-height: 1.7;
}
#text6 .one {
    flex: 1;
    padding: 40px;
}

#text6 .two {
    flex: 1;
    padding: 20px;
}
#text6 .three {
    flex: 1;
    padding: 20px;
}
#text6 .two img {
    margin-top: 4%;
}
#text6 .two h2 {
    /* margin-top: 8%; */
    margin-bottom: -1%;
}

#text6 .two p {
    /* margin-bottom: -8%; */
    padding-bottom: -3%;
}
#text6 p {
    /* margin-bottom: -8%; */
    padding-bottom: 6%;
}
#text6 img {
    width: 100%;
    text-align: center;
    
}

#text6 a {
    padding: 10px;
    padding-left: 60px;
    padding-right: 90px;
    color: white;
    background-color: #75000A;
    border: 2px solid white;
    box-shadow: 2px 2px 6px #570009;
    text-align: center;
}

/*section 7*/
#text7 {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width:100vw;
    margin:0;
    justify-content: space-between;
    /* gap: 20px; */
    padding: 40px 20px;
    background-color: black;
}

#text7 .text {
    flex: 1;
    background-color: black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width:200%; */

    /* height: auto; */

}

#text7 .image {
    flex: 1;
    height: 100%;
    padding:30px;
    background-color: black;
}
#text7 .image img{
    width: 100%;
   height:auto;
   display:block;
   object-fit: cover;
}

#text7 .text a {
    background: #75000A;
    color: white;
    font-family: helvetica;
    font-weight: bold;
    position: relative;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid white;
    top: -5%;
    left: .2%;
    text-decoration: none;
    width: 12%;
}

#text7 .text a:hover {
    background: white;
    color: #570009;
}

#text7 .text h1 {
    font-family: Helvetica;
    font-weight: bold;
}

#text7 .text p {
    font-family: Helvetica;
    font-weight: bold;
}

/*section 8*/
#text8{
    
}
#text8 .text{
    color:#570009;
    font-size:30%;
}
@media (max-width: 768px) {
    #title {
        flex: 1 1 50%;
        margin: 10px;
        text-align: left;
    }

    #main-nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}