/*header*/
a{
    color:white;
    text-decoration: none;
    list-style: none;
}
h3, h1{
    margin: 0;
    padding: 5px;
    
}
#main-nav{
    background-color: black;
    width:auto;
    height:auto;
}
#nav{
    list-style: none;
    text-decoration: none;
    color:white;
    gap:0;
}
#nav li{
    margin:10px;
    padding-right:20px;
    border-right:2px solid white; 
}
#nav li:last-child{
    border-right: none;
}
#nav ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    padding: 20px;
    justify-content: flex-start;
    border-style: solid;
    border: 5px white;
}


#title{
    /* background-color: black; */
    color:white;
    display:flex;
    flex: 1;
    padding:10px;
    margin-top: 30px;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 20px;
}
.two{
    /* flex:2; */
    display: flex;
    flex-direction: column;
    margin-right: auto;
    
}