body{
    background:rgb(101, 201, 235);
    color:rgb(30, 6, 91);
    text-align:center;
}
#scene{
    position: relative;
    width: 100%;
    height:40%;
    background: lightblue;

}
.day{
    background:skyblue;
}
.night{
    background:black;
    color: rgb(101, 201, 235);
}
.sun {
    position:absolute;
    top:20px;
    left:20px;
    width:40px;
    height:40px;
    background: rgb(228, 228, 19);
    border-radius: 50%;
}
.moon{
    position:absolute;
    top:20px;
    left:40px;
    width:40px;
    background: rgb(240, 240, 209);
    border-radius: 50%;
}
.cloud {
    position:absolute;
    width:80px;
    height:50px;
    background: white;
    border-radius:50%;
}
.cloud::before, .cloud::after {
    content: '';
    position: absolute;
    background: white;
    border-radius:50%;
}
.cloud::before {
    width: 50px;
    height: 50px;
}
.cloud::after {
    width: 50px;
    height: 50px;
}
.tree {
    position: absolute;
    top:200px;
    width:40px;
    height: 100px;
    background: rgb(78, 21, 21);
}
.tree::before {
    content: '';
    position:absolute;
    bottom:60px;
    left:-30px;
    width:100px;
    height:60px;
    background:rgb(10, 106, 10);
    border-radius: 50%;
} 
/*got from chat*/

