body{
    background:rgb(45, 3, 9)
}
img{
    width: 200px;;
    height:200px;
    border: 5px black;
}
td, th{
    background-color: rgb(179, 89, 108);
    border:2px rgb(54, 11, 20);
    padding: 10px 10px; /*top and bottom 5, right and left 10*/
    
}
table{
    width: 80px;
    margin-left:auto;
    margin-right: auto;
}
h1{
    color:rgb(179, 89, 108)

}

div{
    background:  rgb(128, 25, 41);
    margin:auto;
    padding:5px;
    padding-bottom: 20px;
    width:90%;
    text-align: center;
}
#table{
    text-align:center;
   margin-left:auto;
   margin-right: auto;
}
