body{
    background:rgb(128, 25, 41)
}
img{
    width: 200px;;
    height:200px;
}
tr{
    background-color: rgb(179, 89, 108);
    /*border:2px rgb(54, 11, 20);*/
    padding: 10px 15px; /*top and bottom 5, right and left 10*/
}
h1{
    color:rgb(179, 89, 108)
}