body{
    background:#360714
}
img{
    width: 200px;;
    height:200px;
}
td, th{
    background-color: rgb(179, 89, 108);
    border:2px rgb(54, 11, 20);
    padding: 5px 10px; /*top and bottom 5, right and left 10*/
}
h1{
    color:rgb(179, 89, 108)
}
div{
    background:  rgb(128, 25, 41);
    margin:auto;
    padding:5px;
    padding-bottom: 20px;
    width:90%;
}