body{
    background:rgb(128, 25, 41)
}
img{
    width: 200px;;
    height:200px;
}
td{
    border:2px ;
    border-color: rgb(54, 11, 20);
    padding: 5px 10px; /*top and bottom 5, right and left 10*/
}