body {
    background-color: #6E7980;
    height: 100%;
    color: #D7EEFA;
    align-items: center;
    margin: 0;
}

#header {
    text-align: center;
    padding-bottom: 5px;
    padding-top: 10px;
}

#header h4 {
    color: #2b5975
}

/*LIST*/
#main-content {
    justify-content: center;
    margin: 0%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0%;
}

ul {

    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    margin-left: -30px;
    justify-content: center;


}

li {
    flex-direction: row;
    list-style: none;
    padding-left: 0px;
    padding-right: 5px;


}

#nav li::after {
    content: "|";
    margin-left: 0px;
    color: #D7EEFA;

}

#nav li:last-child::after {
    content: "";
}

/*TOGGLE NAV*/
.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

#nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 20px;
}

/*CLOCK*/
.digital-clock {
    background: #3e7191;
    border-top: 2px solid #D7EEFA;
    border-bottom: 2px solid #D7EEFA;
    text-align: center;
    padding: 10px;
}

#clock {
    font-size: 24px;
    font-weight: bold;
    color: #D7EEFA;
    margin-top: 10px;
}

a {
    color: #D7EEFA;
    text-decoration: none;
}

/*SLIDER*/

.plants {
    width: 100%;
    align-items: center;
    background-color: #3e7191;
    border-top: 2px solid #D7EEFA;
    border-bottom: 2px solid #D7EEFA;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.slider {
    width: 20%;
    height: 25px;
    background: #D7EEFA;
    outline: none;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

input[type="range"] {
    width: 200px;
    margin-top: 15px;

}

#status {
    text-align: center;
    margin-top: 20px;
}

#image {
    margin: 10px auto;
    display: block;
}

footer {
    text-align: center;
    padding: 1px;
}

@media (max-width: 768px) {
    .menu-btn {
        display: block;
    }

    #nav {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin-top: 10px;
    }

    #nav.active {
        display: flex;
    }

    #nav li::after {
        content: none;

    }
}