h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#732634;
    text-align: center;
    font-size:60px;
}
h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#732634;
    text-align: center;
    font-size: 30px;
}
body {
    background-color:#8C2641;
   
}
a {
    color:#ca6382;
    text-decoration: none;
    text-align: center;
    font-size:25px;
    
}
a:hover {
    color:#ca6382 ;
    opacity: 0.4;
}
p{
    color: #ca6382;
}


h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color:#8C2641;
}
div {
    background-color: #e6a2b6;
    width: 95%;
    height: 95%;
    margin: auto;
    padding: 10px;
    /* border-bottom: 5px solid #ca6382; 
    border-top: 5px solid #ca6382; */
    border-right: 5px solid #ca6382;
    border-left: 5px solid #ca6382;
}
#header{
    /* border-bottom: 5px solid #ca6382;  */
    border-top: 5px solid #ca6382;
}
#projects h2{
    text-align: center;
}
.columns {
    
    display:flex;
    flex-wrap: wrap;
    border-bottom: 5px solid #ca6382; 
}
.assignment{
    background:#8C2641;
    width:auto;
    margin: 8px;
    padding: 6px;
    border:5px solid #ca6382;
    text-align: center;
    margin-top: 5px;
    /* flex: 1 3 30%; */
   
}
.assignment img{
    width: 400px;
    height:310px;
    margin: auto;
    /* padding: 5px; */
    object-fit: contain;
    display: block;
    
}
.assignments p{
    padding:5px;
    /* margin:auto; */
}
#main-nav a{
    padding: 10%;
}

#main-nav {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}
#main-nav h2{
    text-align: center;
}

/* only */
@media (max-width: 768px){
    .assignment {
        background-size:cover;
        flex-direction: column;
        flex-wrap: wrap;
        display: flex;
    }
    #main-nav h2{
        text-align: center;
        padding: 2%;
    }
    }
    /*border*/
/* img{
    width: 130px;
    height:70px;
    border:4px #732634;
} */