h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#732634;
    text-align: center;
}
h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#732634;
    text-align: center;
}
body {
    background-color:#8C2641;
}
a {
    color:#30010a;
    text-decoration: none;
    text-align: center;
}
p{
    color: #ca6382;
}
h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color:#8C2641;
}
div {
    background-color: #e6a2b6;
    width: 95%;
    height: 95%;
    margin: auto;
    padding: 10px
}
.columns {
    display:flex;
    flex-wrap: wrap;
}
.assignment{
    background:#8C2641;
    width:fit-content;
    margin: 5px;
    padding: 10px 5px;
    border:2px #ca6382;
}
.assignment img{
    width: 300px;
    height:210px;
    border:4px #732634;
    margin: auto;
    object-fit: contain;
    display: block;
}

#main-nav a:hover {
    color:#ca6382 ;
    opacity: 0.4;
}
#main-nav {
    display: flex;
    text-align: center;
}
@media only screen and (min-width: 768px){
    body {
        background-size:cover;
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        
    
    }
    
    }
/* img{
    width: 130px;
    height:70px;
    border:4px #732634;
} */