h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#732634;
}
h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#732634;
}
body {
    background-color:#8C2641;
}
a {
    color:#ca6382;
    text-decoration: none;
}
img{
    width: 90px;
    height: f 90px;
}
h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    color:#8C2641;
}
div {
    background-color: #e6a2b6;
    width: 95%;
    height: 95%;
    margin: auto;
    padding: 10px
}