h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #732634;
    text-align: center;
    font-size: 60px;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #732634;
    text-align: center;
    font-size: 30px;
}

body {
    background-color: #8C2641;
    align-items: center;
    /* border-bottom: 5px solid #ca6382; 
    border-top: 5px solid #ca6382; */

}

a {
    color: #ca6382;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    padding-top: 10px;

}

.node a {
    text-decoration: double;
}

.node {
    display: flex;
    flex-direction: column;
}

#columns a {
    color: #ca6382;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    padding-top: 10px;

}

a:hover {
    color: #ca6382;
    opacity: 0.4;
}

p {
    color: #ca6382;
}


h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #8C2641;
}

div {
    background-color: #e6a2b6;
    width: 95%;
    height: 95%;
    margin: auto;
    padding: 10px;
    border-bottom: 5px solid #ca6382;
    /* border-top: 5px solid #ca6382; */
    border-right: 5px solid #ca6382;
    border-left: 5px solid #ca6382;
}

div:first-child {
    border-bottom: none;
}

#header {
    text-align: center;
    align-items: center;
}

#header {
    /* border-bottom: 5px solid #ca6382;  */
    border-top: 5px solid #ca6382;
}

#projects h2 {
    text-align: center;
}

.assignment img {
    width: 400px;
    height: 310px;
    margin: auto;
    /* padding: 5px; */
    object-fit: contain;
    display: block;
}

.columns {
    border-bottom: 5px solid #ca6382;
}

.assignment {
    background: #8C2641;
    width: auto;
    margin: 8px;
    padding: 6px;
    border: 5px solid #ca6382;
    text-align: center;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin: 0px;
    flex: 1;
    text-align: center;
}

#main-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#projects img {
    width: 400px;
    height: 310px;
    margin: auto;
    /* padding: 5px; */
    object-fit: contain;
    display: block;
}

.project1 {
    flex: 1;
    background: #8C2641;
    width: auto;
    margin: 8px;
    padding: 6px;
    border: 5px solid #ca6382;
    text-align: center;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin: 0px;
    text-align: center;
}

.assignment {
    flex: 1;
}

@media (max-width: 768px) {
    .assignment {
        background-size: cover;
        flex-direction: column;
        flex-wrap: wrap;
        display: flex;
    }

    #main-nav h2 {
        text-align: center;
        padding: 2%;
    }

    #main-nav {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    #projects {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}