body {
    background-color: #26B6C6;
    color: #FAEDDA;
    border: 2px solid #6ACFC9;
    height: 80%;
}

#header {
    text-align: center;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;

}

.style {
    width: 50%;
    height: 400px;
    box-sizing: border-box;
    flex: 1;
    text-align: center;
    background-color: #3C2F80;
    margin: 20px;
    border: 4px solid #6ACFC9;
}

#first3 #img {
    position: relative;
    top: 40%;
    left: 0%;
    margin-top: -120px;
}

#first3 #btn3 {
    display: block;
    margin: 0 auto;
}

.indent {
    margin-left: 10px;
}

.indent2 {
    margin-left: 20px;
}

.indent3 {
    margin-left: 30px;
}

#sun {
    text-align: left;
    margin-left: 40px;
}

.hidden {
    display: none;
}

#footer {
    text-align: center;
    margin-top: 8%;
    margin-bottom: 5%;
}

@media (max-width: 768px) {
    #main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #first {
        flex: 1;
        align-items: center;

    }

    #first3 #img {
        position: relative;
        top: 48%;
        left: -0%;
        text-align: center;
    }

    #btn3 {
        display: block;
        margin: 20px;
        margin-left: 34%;
    }

    .style {
        width: 50%;
        height: 400px;
        box-sizing: border-box;
        flex: 1 1 350px;
        flex-direction: column;
    }

}