body{
    background-color: #26B6C6;
    color: #FAEDDA;
    border: 2px solid #6ACFC9;
    height:100%;
}
#header{
    text-align: center;
}
#main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
#first1{
    flex:1;
    text-align: center;
    width:50%;
    height:60%;
    background-color: #3C2F80;
    margin:20px;
    padding-bottom: 30%;
    border: 4px solid #6ACFC9;
}
#first2{
    flex:1;
    text-align: center;
    width:50%;
    height:60%;
    background-color: #3C2F80;
    margin:20px;
    padding-bottom: 30%;
    border: 4px solid #6ACFC9;
}
#first3{
    flex:1;
    text-align: center;
    width:50%;
    height:60%;
    background-color: #3C2F80;
    margin:20px;
    padding-bottom: 15%;
    border: 4px solid #6ACFC9;
}
#footer{
    text-align: center;
    margin-bottom: 10px;
}
#first3 #img{
    position:relative;
    bottom:20%;
    left:20%;
}
.indent{
    margin-left:10px;
}
.indent2{
    margin-left:20px;
}
.indent3{
    margin-left:30px;
}
#sun{
    text-align:left;
    margin-left:40px;
}
@media (max-width: 768px){
    #main {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    #first{
        flex:1;
        align-items: center;
        
    }
    #first3 #img{
    position:relative;
    top: 70%;
    left: -0%;
    text-align: center;
}
#btn3{
    display:block;
    margin:20px;
    margin-left:34%;
}
}