body {
    background: #3F7C85;
    color: #72F2EB;
    text-align: center;
    padding-top: 30px;
}

#image {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* position:relative;
    display:inline-block; */
}

.img {
    border: 5px solid #00CCBF;
    border-radius: 5px;
    /* display:block;
    width:100%;
    height:auto; */
}

p {
    font-size: 22px;
    left: 0px;
    background: rgba(63, 124, 133, .6);
    padding-bottom: 30px;
    padding-top: 27px;
    padding-left: 29%;
    padding-right: 29%;
    font-weight: bold;
    display: none;
    position: absolute;
    bottom: -5%;
    left: 0%;
    text-align: center;
}

.dog-style {
    position: relative
}

.dog-style:hover p {
    display: block;
}

footer {
    padding-top: 20px;
}
@media (max-width: 768px) {
    #image{
        display: flex;
        flex-direction:column;
    }
    p {
    font-size: 22px;
    left: 0px;
    background: rgba(63, 124, 133, .6);
    padding-bottom: 30px;
    padding-top: 27px;
    padding-left: 15%;
    padding-right: 15%;
    font-weight: bold;
    display: none;
    position: absolute;
    bottom: -5%;
    left: 23%;
    text-align: center;
}
.dog-style{
    margin-bottom: 20px;
}
}